* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: #f5f5f5;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Inter, Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input,
textarea {
  background: #141414;
  border: 1px solid #2a2a2a;
  color: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
}
